<div class="h-full bg-gray-50">
  <div class="w-full bg-white border border-gray-100 shadow-md py-4 mb-4">
    <h2 class="text-4xl font-bold text-start ml-24 text-azulEscuroJabil">
      Dashboard
    </h2>
  </div>

  <div class="mb-3">
    <div class="bg-gray-50">
      <div class="w-full bg-white border border-gray-100 shadow-md py-4">
        <div class="ml-8">
          <div
            class="grid grid-cols-2 md:grid-cols-2 lg:grid-cols-2 gap-3 m-4 pb-4"
          >
            <div
              class="bg-white p-6 rounded-xl shadow-md h-100 hover:shadow-xl mt-1 border border-gray-100"
            >
              <div echarts [options]="pieOptions" class="chart-pie-demo"></div>
            </div>

            <div
              class="bg-white p-6 rounded-xl shadow-md h-100 hover:shadow-xl mt-1 border border-gray-100"
            >
              <div
                echarts
                [options]="lineOptions"
                class="chart-line-demo"
              ></div>
            </div>

            <div
              class="bg-white p-6 rounded-xl shadow-md hover:shadow-xl h-100 mt-2 border border-gray-100"
            >
              <div
                echarts
                [options]="areaOptions"
                class="chart-area-demo"
              ></div>
            </div>

            <div
              class="bg-white p-6 rounded-xl shadow-md h-100 mt-2 border border-gray-100"
            >
              <div echarts [options]="barOptions" class="chart-bar-demo"></div>
            </div>
          </div>

          <div class="w-96"></div>
        </div>
      </div>
    </div>
  </div>
</div>
